---
layout: default
---
    <div id="homeid" class="col-sm-8">

	  <img src="/images/logo/name.png" width="70%" style="margin-left: -10px; margin-top: 15px">
	  
	  <h1>Welcome!</h1>

	{{ content }}
  </div>


<div class="col-sm-4">
<img src="{{site.utl}}{{site.baseutl}}/images/carousel/Profile.png" style="width:200px; display:block"/>
<br><i aria-hidden="true" class="fa fa-fw fa-map-marker"></i> Nashville, Tennessee
<br><a href="mailto:yu.wang.1@vanderbilt.edu"><i aria-hidden="true" class="fas fa-envelope"></i> Email</a>
<br><a href="https://twitter.com/YuWVandy"><i aria-hidden="true" class="fab fa-twitter-square"></i> Twitter</a>
<br><a href="https://www.linkedin.com/in/yu-wang-63359a196/"><i aria-hidden="true" class="fab fa-linkedin"></i> LinkedIn</a>
<br><a href="https://github.com/YuWVandy"><i aria-hidden="true" class="fab fa-github"></i> Github</a>
<br><a href="https://scholar.google.com/citations?user=XPCmiz4AAAAJ&hl=en"><i class="fas fa-graduation-cap"></i> Google Scholar</a>
</div>
